body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #1488CC, #2b32b2);
}

.animated-button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    background: linear-gradient(90deg, #0F2027, #203A43, #2c5364);
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.animated-button:hover {
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
