body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#btn {
    display: block;
    margin: auto;
    width: 150px;
    height: 50px;
    background-color: #5b4caf;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confetti-canvas {
    position: fixed; 
    z-index: 999; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    pointer-events: none;
}
